<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="login-container">
        <h2>Peepu Bank</h2>
        
        <form method="post">
            <input type="text" placeholder="Username" required name="username">
            <input type="password" placeholder="Password" required name="password">
            
            <button type="submit">Login</button>
        </form>
        <a href="/signup">Click here to signup</a>
    </div>

</body>
</html>